
body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    background-color: #f4ece4cd;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

form {
    margin: 50px auto;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3926a3cd;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(63, 140, 188);
}

.error-message {
    color: red;
}